<div class="post-navigation">
    <div class="navigation-links">
        {% if post.previous.url %}
            <a class="prev" href="{{site.posts.last.url | absolute_url}}">&laquo; First</a>
        {% else %}
            <a class="next" href="#">&laquo; First</a>
        {% endif %}
        {% if post.next.url %}
            <a class="next" href="{{site.posts.first.url | absolute_url}}">Last &raquo;</a>
        {% else %}
            <a class="next" href="#">Last &raquo;</a>
        {% endif %}
    </div>
    <div class="navigation-links">
        {% if post.previous.url %}
            <a class="prev" href="{{post.previous.url | absolute_url}}">&laquo; {{post.previous.title}}</a>
        {% else %}
            <a class="prev" href="#">&laquo;</a>
        {% endif %}
        {% if post.next.url %}
            <a class="next" href="{{post.next.url | absolute_url}}">{{post.next.title}} &raquo;</a>
        {% else %}
            <a class="next" href="#">&raquo;</a>
        {% endif %}
    </div>
</div>