<div class="row py-2">
    {% if post.previous.url %}
    <div class="col">
        <a class="btn btn-light" role="button" href="{{site.posts.last.url | absolute_url}}">&laquo; First</a>
    </div>
    {% endif %}
    {% if post.next.url %}
    <div class="col d-flex justify-content-end">
        <a class="btn btn-light" role="button" href="{{site.posts.first.url | absolute_url}}">Last &raquo;</a>
    </div>
    {% endif %}
    {% if page.previous.url %}
    <div class="col">
        <a class="btn btn-light" role="button" href="{{site.posts.last.url | absolute_url}}">&laquo; First</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="col d-flex justify-content-end">
        <a class="btn btn-light" role="button" href="{{site.posts.first.url | absolute_url}}">Last &raquo;</a>
    </div>
    {% endif %}
</div>
<div class="row py-2">
    {% if page.previous.url %}
    <div class="col">
        <a class="btn btn-light" role="button" href="{{page.previous.url | absolute_url}}">&laquo;
            {{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="col d-flex justify-content-end">
        <a class="btn btn-light" role="button" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}

    {% if post.previous.url %}
    <div class="col">
        <a class="btn btn-light" role="button" href="{{post.previous.url | absolute_url}}">&laquo;
            {{post.previous.title}}</a>
    </div>
    {% endif %}
    {% if post.next.url %}
    <div class="col d-flex justify-content-end">
        <a class="btn btn-light" role="button" href="{{post.next.url | absolute_url}}">{{post.next.title}} &raquo;</a>
    </div>
    {% endif %}
</div>