---
---

h1 {
    clear: both;
    font-size: 1.5em;
}

h1.comic-title {
    font-family: 'excalifont', sans-serif;
    text-align: center;
}

#main_content img {
    border: 2px solid #000;
    padding: 0;
}

.pete-logo {
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.archive-content {
    text-align: center;
    font-family: 'excalifont', sans-serif;
}

.archive-content ul {
    list-style: none;
    padding-left: 0;
}
