---
layout: default
---
<div class="entry-content">

  {% include post-navigation.html %}

  <h1 class="comic-title">{{page.title}}</h1>
  <p class="text-center">{{ page.caption }}</p>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="{{ page.image | absolute_url }}">
        <img class="img-fluid border-2 border-dark" src="{{ page.image | absolute_url }}" alt="image" />
      </a>
      <p>{{ content }}</p>
    </div>
  </div>

  {% include post-navigation.html %}

  <div class="row pt-4">
    <div class="col">
      <p class="permanent-link text-center"> Permanent link to this comic: <br />
        <a href="{{page.url | absolute_url}}">{{page.url | absolute_url}}</a>
      </p>
    </div>
  </div>

</div>
