---
layout: default
---
<div class="entry-content">

  {% include post-navigation.html %}

  <h1>{{page.title}}</h1>
  <div class="page-content">
    <a href="{{ page.image | absolute_url }}">
        <img src="{{ page.image | absolute_url }}" alt="image" border="0" />
    </a>
    <p>{{ page.caption }}</p>
    <p>{{ content }}</p>
  </div>

  {% include post-navigation.html %}

  <p class="permanent-link"> Permanent link to this comic: <br />
    <a href="{{absolute_url}}">{{absolute_url}}</a>
  </p>

</div>
