---
layout: default
comments: true
---
<div class="entry-content">

  {% include post-navigation.html %}

  <h1 class="comic-title">{{page.title}}</h1>
  <p class="text-center">{{ page.caption }}</p>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="{{ page.image | absolute_url }}">
        <img class="img-fluid border-2 border-dark" src="{{ page.image | absolute_url }}" alt="image" />
      </a>
      <p>{{ content }}</p>
    </div>
  </div>

  {% include post-navigation.html %}

  <div class="row pt-4">
    <div class="col">
      <p class="text-center">Share:
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a> |
        <a href="https://twitter.com/intent/tweet?text={{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
      </p>
      <p class="permanent-link text-center"> Permanent link to this comic: <br />
        <a href="{{page.url | absolute_url}}">{{page.url | absolute_url}}</a>
      </p>
    </div>
  </div>

</div>
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://pete-and-lar.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
